process {
    withName: 'FilterMAC' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RemoveSamples' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RVtestPrepare' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'SnpEffAnnotate' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'InfoFilter' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'RVtestRun' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=18068M'
    }
    withName: 'SensitivityDataPrepare' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'SensitivityRVtestRun' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=18068M'
    }
}

// executor {
//     exitReadTimeout = '3h'
//     squeueSize = 3
// }