process {
    withName: 'extractCommonSubsets' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'AssocPlink2' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=73036M'
    }
    withName: 'PlotMQQ' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=73036M'
    }
    withName: 'PairwiseComparison' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=73036M'
    }
}