process {
    withName: 'TrueCallPrepare' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'TrueCallConcordance' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'ConcordanceSummary' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'DPGQMatrix' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'DPGQVmiss' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'DPGQMatrix_CallVCF' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'DPGQVmiss_CallVCF' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
}