process {
    withName: 'FILTER_BY_MAC' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'LD_PRUNING' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'CALC_SPARSE_GRM' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'FIT_NULL_GLMM_SPARSE_GRM' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=128000M'
    }
    withName: 'ASSOC_TEST_SPARSE_GRM' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=128000M'
    }
    withName: 'PLOT_MANHATTAN_QQ_SPARSE_GRM' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'SPLIT_PLINK_TO_BGEN' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'FIT_NULL_GLMM_FULL_GRM' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=128000M'
    }
    withName: 'ASSOC_TEST_FULL_GRM' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'PLOT_MANHATTAN_QQ_FULL_GRM' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
}