process {
    withName: 'selectPASS' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'normAndSplit' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'vcfToPlink' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'mergePlink' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
}