process {
    withName: 'indexBcf' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'normalizeBcf' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'convertToPlink' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'pmerge' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'sampleQC' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'variantStats' {
        clusterOptions = '--rsc p=1:t=24:c=12:m=54852M'
    }
    withName: 'addImputationInfo' {
        clusterOptions = '--rsc p=1:t=48:c=24:m=109704M'
    }
}