process {
    withName: 'normalizeAndSetId' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'vcfToPlink' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'mergePlink' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'extractCommonVariantsAndSamples' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'AssocPlink2ArrayModel' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
}