process {
    withName: 'AssocPlink2Model' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'AssocPlink2Summary' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'AssocPlink2Model_SNP' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'AssocPlink2Summary_SNP' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
}
