process {
    withName: 'selectPASS' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'filter_ac1' {
        clusterOptions = '--rsc p=1:t=2:c=1:m=4571M'
    }
    withName: 'set_ids' {
        clusterOptions = '--rsc p=1:t=2:c=1:m=4571M'
    }
    withName: 'add_gt_AF' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'gt_norm' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'variant_filter' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'gt_qc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'gt_norm_2' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'het_gt_qc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
}