process {
    withName: 'selectPASS' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'filter_ac1' {
        clusterOptions = '--rsc p=1:t=2:c=1:m=4571M'
    }
    withName: 'set_ids' {
        clusterOptions = '--rsc p=1:t=2:c=1:m=4571M'
    }
    withName: 'add_gt_AF' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'gt_norm' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'variant_filter' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'gt_qc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'gt_norm_2' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'het_gt_qc' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'vcf2bed' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'pmerge' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'RunSampleQC' {
        clusterOptions = '--rsc p=1:t=32:c=16:m=72536M'
    }
    withName: 'FinishSampleQC' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'rmMAF0orVMISS1' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RunVariantQC' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RunPCA' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'PrepareBBJ' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RunBBJPCA' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RunBBJProjection' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'BBJSampleKeep' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'rmMAF0orVMISS1_repeat' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'ToMMoPanelCompare' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'ToMMoPanelThr' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
}