process {
    withName: 'SampleSelect' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'SampleQC' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'ConvertToVCF' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'VCFtoPLINK' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'ExtractCommonVariantsAndMerge' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'RemoveMultiallelicVariants' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568'
    }
    withName: 'VariantQC_MissingRate' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568'
    }
    withName: 'UpdatePhenotypeAndSplitChromosomes' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'VariantQC_CalculateMetrics' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
    withName: 'VariantQC_FilterByMAFandHWE' {
        clusterOptions = '--rsc p=1:t=16:c=8:m=36568M'
    }
}