process {
    withName: 'RVtestPrepare' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'SnpEffAnnotate' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'InfoFilter' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'AddMacInfo' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
    withName: 'RVtestRun' {
        clusterOptions = '--rsc p=1:t=64:c=32:m=145072M'
    }
}